.container{
    background: rgba(246, 234, 234, 0.791);
    padding-left: 17%;
    padding-right: 2%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.large-container{
    padding-left: 7%;
}
.card h2{
    font-size: 16px;
    font-weight: 600;
    color: black;
    margin: 5px 0;
}
.card h3{
    font-size: 14px;
    font-weight: 600;
    color: rgb(197, 2, 2);
    margin: 6px 0;
}
.card p{
    font-size: 15px;
}
.welcome{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
@media (max-width:900px){
    .large-container , .container{
        padding-left: 5%;
        padding-right: 5%;
    }

}